# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake build directories
cmake-build-*/
cmake-build-debug/

# Clion workspace files
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Custom user-defined directories
/bin/
/build/

# Ignore JSON files
*.json